/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23-Jan-2022, 1:07:17 pm
    Author     : Rithick
*/

.question-container{
    border:1px solid black;
    padding:1rem;
    display:flex;
    flex-direction: column;
}
.question{
    font-size:1.3rem;
}
.quote::before{
    content:open-quote;
}
.quote::after{
    content:close-quote;
}
.questioner{
    display:inline-block;
    font-weight:bold;
    align-self: flex-end;
}
.questioner::before{
    content:"-- Questioned By "
}

.btn {
  border: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  padding: 0.75rem;
  font-weight: bold;
}

.btn--primary {
  color: white;
  background-color: tomato;
}
.btn--secondary {
  color: white;
  background-color: #4BB543;
}
.btn-center{
    display: flex;
    padding:1rem;
    justify-content: space-around;
    border-top:1px solid lightgray;
}
.answer-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block:2rem;
}
table,th, tr,td{
    border:1px solid gray;
    border-collapse:collapse;
    padding:0.5rem;
    text-align: center;
}
.answer-list table{
    width:80%;
}
.answer-list td{
    padding-block:1rem;
}